/* global styles */
@import url('https://fonts.googleapis.com/css?family=Karla');

/* VARIABLES */

:root {
  --bg-color-1: #3F7CA8;
  --bg-color-2: #F1E758;
  --info-card-bg: #3fa88c;
  --text-primary: #292929;
  --text-secondary: #9e9ea0;
  --link-primary: #292929;
  --link-primary-hover: rgba(41, 41, 41, 0.67);
  --border-color-1: #ffffff14;
  --btn-bg-bright: rgba(75, 201, 168, 0.93);
  --btn-bg-bright-hover: rgba(141, 234, 212, 0.54);
}

/* GENERAL */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
  /* background: linear-gradient(145deg,#3F7CA8,#F1E758); */
  background: linear-gradient(150deg, var(--bg-color-1), var(--bg-color-2));

  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Karla', sans-serif;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  font-smoothing: antialiased!important;
}

.center-item {
  margin: auto;
  display: table;
}

.btn {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  color: var(--link-primary);
  border: 1px solid var(--link-primary);
  border-radius: 3px;
  padding: 1.6px 3.2px;
  transition: all 350ms cubic-bezier(.200,.60,.300,1);
}

.btn:hover {
  color: var(--link-primary-hover);
  border: 1px solid var(--link-primary-hover);
  background-color: var(--bg-color-2);
}

.btn-bright {
  color: var(--link-primary);
  border: 1px solid var(--link-primary);
  background-color: var(--btn-bg-bright);
}

.btn-bright:hover {
  color: var(--link-primary-hover);
  border: 1px solid var(--link-primary-hover);
  background-color: var(--btn-bg-bright-hover);
}

/* APP */

#app {
  transform: matrix(1, 0, 0, 1, 0, 0);

  height: 100vh;
  width: 100vw;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1vh 2vw;
  margin-top: -10vh;
}

#app.file-over {
  filter: grayscale(0.8) blur(10px);
}

#app span, h1, h2, h3 {
  color: var(--text-primary);
}

#app a {
  color: var(--link-primary);
  cursor: pointer;
  text-decoration: overline;
  transition: all .15s ease-out 0s;
}

#app a:hover {
  color: var(--link-primary-hover);
}

#app .info-container {
  margin: 5vh 0;
}

#app .camera {
  max-width: 90%;
}

/* FILE OVER PAGE */

#file-over {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10vh auto;
  text-align: center;
  align-items: center;
  pointer-events: none;
}

/* INFO CONTAINER */

#info {
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
}

#info .info-card {
  position: fixed;
  height: calc(100% - 6em);
  width: calc(100% - 6em);
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.33);
  border-radius: 3px;
  top: 3em;
  left: 3em;
  background-color: var(--info-card-bg);
}

#info .info-card h1 {
  margin: 15px 0;
}

#info .info-card h2 {
  margin: 10px 0 0 0;
}

#info .info-card h3 {
  margin: 15px 0;
}

#info .info-card h4 {
  margin: 0 0 15px 0;
}

#info .info-close-btn {
  position: fixed;
  top: 4em;
  right: 4.6em;
}

#info .info-close-btn span {
  color: var(--link-primary);
  cursor: pointer;
  transition: all .15s ease-out 0s;
  font-weight: bolder;
  font-size: 17pt;
}

#info .info-close-btn span:hover {
  color: var(--link-primary-hover);
}

#info .info-card-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 1em 2.4em;
}

#info .show-exif-btn {

}

#info .exif-head-info {
  display: inline;
}

#info .exif-head-info::before {
  content: "````";
}

#info .exif-head-info::after {
  content: "````";
}

/* EXIF MARKUP */
.exif-list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 25px;
  box-sizing: border-box;
  position: relative;
  max-height: 55%;
  overflow: auto;
  transition:opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.exif-list div {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color-1);
}

.exif-key {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 35%;
  box-sizing: border-box;
  word-wrap: break-word;
  font-weight: bold;
}

.exif-val {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 65%;
  box-sizing: border-box;
  word-wrap: break-word;
}


/* FOOTER */

footer {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 1vh 2vw;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
}

footer.footer-fixed {
  position: fixed;
  bottom: 10px;
}

footer .footer-left {
  display: flex;
  flex: 1;
  text-align: left;
  align-items: baseline;
  justify-content: flex-start;
}

footer .footer-right {
  display: flex;
  flex: 1;
  text-align: right;
  align-items: baseline;
  justify-content: flex-start;
  right: 0;
}

footer span, h1, h2, h3 {
  color: var(--text-primary);
}

footer .link-list > * {
  margin-left: 15px;
}

footer .link-list span {
  color: var(--link-primary);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all .15s ease-out 0s;
}

footer .link-list span:hover {
  color: var(--link-primary-hover);
}

footer a {
  color: var(--link-primary);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all .15s ease-out 0s;
}

footer a:hover {
  color: var(--link-primary-hover);
}

/* CAMERA SVG */

.cls-1 {
  opacity: 0.78;
}

.cls-2 {
  fill: #060606;
}

.cls-3 {
  fill: #060606;
}

.cls-4 {
  fill: #1d1d1d;
}

.cls-5 {
  fill: #404040;
}

.cls-6 {
  fill: #0f0f0f;
}

.cls-7 {
  fill: #454545;
}

.cls-8 {
  fill: #0f0f0f;
}

.cls-9 {
  fill: #454545;
}

.cls-10 {
  fill: #101111;
}

.cls-11 {
  fill: #0d0d0e;
}

.cls-12 {
  fill: #5b5b5b;
}

.cls-13 {
  fill: #212121;
}

.cls-14 {
  fill: #484b4c;
}

.file-in-drop-zone {
  fill: #252627 !important;
}

.cls-15 {
  fill: #ea1313;
}

.cls-16 {
  font-size: 39.08px;
  fill: #0f0f0f;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  user-select: none;
}

.cls-17 {
  font-size: 45px;
  fill: #0f0f0f;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
}